constants:
  storage: "25Gi"
  pvc: "jellyfin-media-pvc"
  pv: "jellyfin-media-pv"
  node_affinity_config:
    node_limit: 
      matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
            - raspberka-ekran

jellyfin:
  persistence:
    media:
      size: "25Gi"
      existingClaim: "jellyfin-media-pvc"
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-issuer
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: notflix.daglesia.com
        paths:
          - path: /
            pathType: Prefix
    tls:
     - secretName: jellyfin-tls
       hosts:
         - notflix.daglesia.com
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - raspberka-ekran