constants:
  storage: &storageSize 25Gi
  pvc: &pvcName "local-pvc"
  pv: &pvName "jellyfin-media-pv"
  node_affinity_config:
    node_limit: &node_affinity 
      matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
            - raspberka-ekran

jellyfin:
  persistence:
    media:
      size: *storageSize
      existingClaim: *pvcName
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-issuer
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: notflix.daglesia.com
        paths:
          - path: /
            pathType: Prefix
    tls:
     - secretName: jellyfin-tls
       hosts:
         - notflix.daglesia.com
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - *node_affinity