forgejo:
  gitea:
    admin:
      existingSecret: forgejo-admin
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-issuer
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: git.daglesia.com
        paths:
          - path: /
            pathType: Prefix
    tls:
     - secretName: forgejo-tls
       hosts:
         - git.daglesia.com