constants:
  storage: "25Gi"
  pvc: "forgejo-git-pvc"
  pv: "forgejo-git-pv"
  node_affinity_config:
    node_limit: 
      matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
            - raspberka-ekran

forgejo:
  persistence:
    enabled: true
    create: false
    claimName: forgejo-git-pvc
    volumeName: forgejo-git-pv
    storageClass: local-git-storage
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-issuer
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: git.daglesia.com
        paths:
          - path: /
            pathType: Prefix
    tls:
     - secretName: forgejo-tls
       hosts:
         - git.daglesia.com