apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "jellyfin.pvcName" . }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-storage
  resources:
    requests:
      storage: {{ include "jellyfin.storageSize" . }}
