constants:
  storage: "10Gi"
  pvc: "xwiki-docs-pvc"
  pv: "xwiki-docs-pv"
  node_affinity_config:
    node_limit: 
      matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
            - raspberka-ekran

xwiki:
  mysql:
    image:
      repository: bitnamilegacy/mysql
      tag: "8.4.4-debian-12-r7"
  appUrl: "https://docs.daglesia.com"
  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-issuer
      nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    hosts:
      - host: docs.daglesia.com
        paths:
          - path: /
            pathType: Prefix
    tls:
     - secretName: xwiki-tls
       hosts:
         - docs.daglesia.com
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - raspberka-ekran
  persistence:
    enabled: true
    size: "10Gi"
    existingClaim: "xwiki-docs-pvc"