authentik:
  authentik:
    error_reporting:
      enabled: false
  postgresql:
    enabled: true
  server:
    ingress:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-issuer
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
      hosts:
        - auth.daglesia.com
      tls:
      - secretName: authentik-tls
        hosts:
          - auth.daglesia.com