apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argocd
  namespace: kube-system
spec:
  chart: argo-cd
  createNamespace: true
  repo: https://argoproj.github.io/argo-helm
  targetNamespace: argocd
  valuesContent: |-
    repoServer:
      env:
      - name: SOPS_AGE_KEY_FILE
        value: /etc/sops/age.key
      image:
        repository: ghcr.io/juniorjpdj/argocd-helm-secrets
      volumeMounts:
        - name: argocd-age-key
          mountPath: /etc/sops
      volumes:
        - name: argocd-age-key
          secret:
            secretName: argocd-age-key
    configs:
      cm:
        exec.enabled: true
        exec.shells: bash,ash,sh,powershell,cmd
        admin.enabled: true
        helm.valuesFileSchemes: >-
          secrets+gpg-import, secrets+gpg-import-kubernetes,
          secrets+age-import, secrets+age-import-kubernetes,
          secrets,secrets+literal,
          https
  version: v9.4.4